.data-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 800px;
    height: 700px;

    text-align: center;

    background-color: rgba(163, 114, 57, 0.9);
    border: 8px solid black;
    border-radius: 80px;
}
.data-container h1 {
    margin-top: 10px;
    font-size: 70px;
}

.admin-table {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 95px auto auto auto;

    overflow-y: auto;

    width: 750px;
    height: 500px;
}
.admin-table > table {
    width: 100%;
    border-spacing: 20px 0;

    color: lightgray;
}
.admin-column {
    width: 33%;
    height: auto;

    padding: 10px;

    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;

    text-align: center;
    vertical-align: top;

    overflow-y: auto;
}
.admin-column > a {
    text-decoration: none;
    color: white;
}

.rep-fb {
    padding-top: 10px;
    border-top: 2px solid gray;

    color: white;
}
i {
    color: gray;
}
i::before, i::after {
    content: " - ";
}

#table {
    width: 100%;
    border-top: 2px solid gray;
}
.categories input[type=button], .categories input[type=text] {
    margin-left: 5px;

    font-size: 12px;

    background-color: rgb(133, 128, 121);
    border: 2px solid black;
}
.categories input[type=button]:hover, .categories input[type=text]:hover {
    cursor: pointer;
    color: white;
    outline: 1px solid white;
}
.categories input[type=button]:focus, .categories input[type=text]:focus {
    color: white;
    outline: 2px solid white;
}
.edit {
    font-weight: bold;
}
.edit-textfield {
    margin-top: 30px;
}

.question {
    position: absolute;
    min-height: 30px;
    max-height: 40px;

    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: auto;
    padding: 10px;

    background-color: rgba(173, 168, 162, 0.9);
    border: 4px solid black;
    border-radius: 80px;
}
.question button {
    height: 45px;
    width: auto;
    padding: 0 10px;
    margin: 0 5px;

    font-size: 19px;
    font-weight: bold;

    background-color: rgba(163, 114, 57, 0.9);
    border: 3px solid black;
    border-radius: 27px;
}
.question button:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.admin-table > .admin-column {
    width: auto;
    color: lightgray;
}
.admin-table > .admin-column table {
    width: 100%;
}
.admin-table > .admin-column th, .admin-table > .admin-column td {
    width: 25%;
}