.data-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 800px;
    height: 700px;

    text-align: center;

    background-color: rgba(163, 114, 57, 0.9);
    border: 8px solid black;
    border-radius: 80px;
}
.data-container h1 {
    margin-top: 10px;
    font-size: 70px;
}
.img-mask {
    display: inline-block;
    position: relative;
    top: 0.25em;

    width: 1em;
    height: 1em;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}
.img-mask img {
    width: auto;
    height: 100%;
}
.img-mask img::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 18px;
}
.data-container .data {
    position: absolute;
    top: 95px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 750px;
    height: 555px;

    font-size: 28px;

    background-color: rgba(173, 168, 162, 0.9);
    border: 4px solid black;
    border-radius: 80px;
}
.data a {
    font-weight: bold;
}

table {
    width: 100%;
    height: 100%;
}
td {
    padding-top: 3%;
    position: relative;
}
th {
    width: 100%;
    padding-top: 3%;
    text-align: center;
}
.upload-video td, th {
    padding-top: 3%;
}
td:nth-child(odd) {
    width: 30%;
    text-align: right;
}
td:nth-child(even) {
    width: 70%;
    text-align: left;
    padding-left: 10px;
}
.profile table {
    height: auto;
}
.profile td:nth-child(odd) {
    width: 45%;
}
.profile td:nth-child(even) {
    width: 55%;

    color: #444444;
    font-size: 26px;
    font-style: oblique;
}
.feedbacks {
    text-align: right;
    padding-top: 2%;
    padding-right: 30px;
}
.data input[type=text], input[type=password], input[type=email], select {
    font-size: 20px;
    width: 80%;
    background-color: rgb(133, 128, 121);
    border: 2px solid black;
}
.data select {
    width: 82.5%;
}
.data input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, select:hover, input[type=checkbox]:hover {
    color: white;
    outline: 1px solid white;
}
.data input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, select:focus {
    color: white;
    outline: 2px solid white;
}
.data input[type=submit], .data button {
    height: 45px;
    width: 160px;

    font-size: 19px;
    font-weight: bold;

    background-color: rgba(163, 114, 57, 0.9);
    border: 3px solid black;
    border-radius: 27px;
}
.data input[type=submit]:hover, .data input[type=button]:hover, .data button:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.data .question {
    position: absolute;
    min-height: 30px;
    max-height: 40px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    padding-bottom: 40px;
}

input[type=checkbox] {
    appearance: none;
    background-color: rgb(133, 128, 121);
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}
input[type=checkbox]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform;
    box-shadow: inset 1em 1em black;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type=checkbox]:checked::before {
    transform: scale(1);
}
input[type=checkbox]:focus {
    background-color: white;
    outline: 2px solid white;
}

.data input[type=file] {
    width: 90%;
    font-size: 18px;
    color: #181818;
}
input[type=file]::file-selector-button {
    background-color: rgb(133, 128, 121);
    border: 2px solid black;
    margin-right: 10px;
}
input[type=file]::file-selector-button:hover {
    cursor: pointer;
    color: white;
}

.tooltip {
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 330px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 90%;
    left: 50%;
    margin-left: -30px;

    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 20px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.link-box {
    height: 75%;
    margin: 20px 30px;

    overflow-y: auto;
}
.link-box > a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
.link-box > a:hover {
    text-decoration: underline;
}
.link-box hr {
    margin: 5px;
}

.data input[type=button] {
    height: 45px;
    width: auto;
    padding: 0 12px;
    margin-left: 20px;

    font-size: 19px;
    font-weight: bold;

    background-color: rgba(163, 114, 57, 0.9);
    border: 3px solid black;
    border-radius: 27px;
}
#containerq {
    width: 400px;
}