footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 10px;
    font-size: 18px;

    background-color: rgba(24, 24, 24, 0.7);
    color: white;
}

footer .feedback-section {
    width: 30%;
}

footer span input {
    display: none;
}
footer span input + label {
    font-size: 20px;
    color: yellow;
    cursor: pointer;
}
footer span input:checked + label ~ label {
    color: #838383;
}

footer button {
    background-color: rgb(133, 128, 121);
    border: 2px solid black;
    font-size: 18px;

    margin: 5px 5px 5px 0;
}
footer button:hover {
    cursor: pointer;
    color: white;
    outline: 1px solid white;
}

footer textarea {
    width: 100%;
    height: 84px;
    overflow: auto;

    margin-bottom: 5px;

    box-sizing: border-box;
    resize: none;

    border: 1px solid #868686;
    border-radius: 4px;
    background-color: rgba(45, 45, 45, 0.8);

    color: #CCCCCC;
    font-size: 16px;
    font-family: inherit;
}
footer textarea:focus {
    outline: 1px solid #CCCCCC;
}