.videos {
    position: fixed;

    width: 100%;
    height: 81%;

    overflow-y: auto;
}
.video-card {
    margin: 5px 30px 20px 30px;
    width: 400px;
    float: left;
    position: relative;

    text-decoration: none;
    text-align: center;
    z-index: -1;

    transition-property: transform, background-color, border-color;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}
.video-card:hover {
    transform: scale(1.03, 1.03);
    z-index: -1;
}
.video-card a {
    text-decoration: none;
}
.video-card img, object {
    position: relative;
    height: 267px;
    width: 100%;
    object-fit: cover;
    border: 4px solid black;

    display: block;
    background-color: rgba(86, 86, 86, 0.9);
}
.video-card img::before, object span {
    color: white;
    font-weight: bold;
    font-size: 84px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video-title {
    height: 1.25em;

    font-size: 30px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.video-author {
    height: 1.25em;

    font-size: 26px;
    font-weight: bold;
    color: #B4B4B4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.safe-space {
    font-size: 26px;
    height: 1.25em;
}
.video-card button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;

    z-index: 1;

    background: red;
    border: 3px solid darkred;

    color: white;
}
.video-card button:hover {
    cursor: pointer;
    outline: 1px solid white;
    background-color: #FF3333;
    border-color: #8B1111;
}