header {
    margin: 0 0 7% 0;
}

.search-bar {
    width: 800px;
    height: 60px;
    background-color: rgba(163, 114, 57, 0.9);
    position: fixed;
    top: 20px;
    left: 0;
    right: 300px;
    margin: auto;
    border: 4px solid black;
    border-radius: 40px;
    z-index: 5;
}
.search-bar #search {
    font-size: 30px;
    font-weight: bold;
    color: #71502A;
    -webkit-text-fill-color: #71502A;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

    margin-left: 20px;
    margin-right: 50px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);

    background: none;
    border: none;
    width: 88%;
    max-width: 88%;
}
.search-bar #search:focus {
    outline: none;
}
.magnifying-glass {
    height: 68px;
    width: 68px;
    background-color: rgba(163, 114, 57, 0.9);
    border: 4px solid black;
    border-radius: 40px;

    display: block;
    background-image: url("../pictures/icons/magnifying-glass-icon.png");
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: +45% +45%;

    z-index: 2;

    position: absolute;
    right: -4px;
    top: -4px;

    font-size: 200%;
}
.magnifying-glass:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
}


.dropdown {
    position: fixed;
    top: 20px;
    right: 20px;

    font-weight: bold;

    z-index: 5;
}
.dropdown a {
    color: black;
    text-decoration: none;
}
.profile-name {
    width: 293px;
    height: 47px;
    z-index: 5;
    padding: 7px 60px 7px 20px;

    line-height: 47px;
    font-size: 33px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    background-color: rgba(163, 114, 57, 0.9);
    border: 4px solid black;
    border-radius: 70px;
}
.profile-picture-container {
    position: absolute;
    right: -3px;
    top: -3px;
    width: 53px;
    height: 53px;
    z-index: 6;
    padding: 7px;

    background-color: #A37239;
    border: 4px solid black;
    border-radius: 100%;
}
.profile-picture {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 90%;

    border-radius: 50%;
    overflow: hidden;
}
.profile-picture img {
    width: auto;
    height: 100%;
}
.profile-picture img::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dropdown-background {
    position: absolute;
    width: 369px;
    height: 0;
    z-index: -1;

    background-color: rgba(163, 114, 57, 0);
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 36px;

    transition-property: transform, height, background-color, border-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.dropdown:hover .dropdown-background {
    background-color: rgba(163, 114, 57, 0.9);
    border-color: black;
}
.dropdown:hover .not-logged { height: 200px; }
.dropdown:hover .admin { height: 550px; }
.dropdown:hover .logged { height: 500px; }
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 369px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content div:not(.notifies) {
    position: relative;
    top: 70px;
    margin: 15px;

    padding-right: 15px;
    font-size: 28px;
    text-align: right;

    background-color: rgba(148, 81, 3, 0);
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 20px;

    transition-property: transform, background-color, border-color;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}
.dropdown-content div:not(.notifies) img {
    padding-left: 15px;
    padding-top: 4px;
    float: left;
    width: 1em;
    height: 1em;
}
.dropdown:hover .dropdown-content div:not(.notifies) {
    background-color: rgba(148, 81, 3, 1);
    border-color: rgba(0, 0, 0, 1);
}
.dropdown-content div:not(.notifies):hover {
    transform: scale(1.05, 1.05);
}
.dropdown-content span {
    margin-right: 15px;
}
.notifies {
    position: absolute;
    bottom: -12px;
    left: -9px;
    width: 20px;
    height: 20px;
    color: white;

    font-size: 19px;
    line-height: 19px;
    text-align: center;
    padding: 3px;

    background-color: red;
    border: 3px solid black;
    border-radius: 30px;
}
