.video-container {
    position: fixed;
    width: 95%;
    height: 80%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    background-color: rgba(20, 20, 20, 0.9);

    overflow-y: scroll;
}
.video-data {
    width: 50%;
    border: 20px solid transparent;
}
.video-data video {
    display: block;
    width: 810px;
    height: 540px;
    margin: 20px auto 5px auto;

    background-color: black;
}
.video-data .title {
    width: 100%;
    height: 1.25em;

    font-size: 30px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    overflow: hidden;
    text-overflow: ellipsis;
}
.video-data .author {
    width: 50%;
    height: 1.25em;

    font-size: 26px;
    font-weight: bold;
    text-align: right;
    color: #B4B4B4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    float: right;
    text-decoration: none;

    overflow: hidden;
    text-overflow: ellipsis;
}
.tags {
    width: 50%;
    height: 40px;
    overflow: hidden;
}
.video-data .tag {
    font-size: 16px;
    color: blue;
    text-decoration: none;
}
.video-data .tag:hover {
    cursor: pointer;
}
.video-data .tag::before {
    content: '#';
}
.buttons {
    width: 100%;
    float: right;

    margin: -5px 0 10px 10px;
}
.video-data button, .like {
    float: right;
    margin-left: 5px;

    font-size: 18px;
}
.video-data button {
    background-color: rgb(133, 128, 121);
    border: 2px solid black;
}
.video-data button:hover {
    cursor: pointer;
    color: white;
    outline: 1px solid white;
}
.video-data button:hover img {
    filter: invert(1);
}
.video-data button:focus {
    color: white;
    outline: 2px solid white;
}
.video-data button:focus img {
    filter: invert(1);
}
.video-data button img, .video-data .like img {
    padding-right: 15px;
    padding-top: 4px;
    float: left;
    width: 1em;
    height: 1em;
}
.video-data .unlike {
    transform: scaleY(-1);
}
.video-data .like {
    color: lightgray;
}
.video-data .like img {
    filter: invert(1);
    padding-right: 5px;
    padding-top: 2px;
}
p {
    margin-top: 10px;
    height: 80px;
    width: 100%;

    font-size: 22px;
    color: white;
    overflow: auto;

    background: rgba(38, 38, 38, 0.7);
}
.comment-section {
    color: #CCCCCC;
    font-size: 18px;
}
.comment-section h2 {
    text-align: center;
}
.comment-section h2::before, .comment-section h2::after {
    content: ' - ';
}
.video-container textarea {
    width: 100%;
    height: 84px;
    overflow: auto;

    margin-bottom: 5px;

    box-sizing: border-box;
    resize: none;

    border: 1px solid #868686;
    border-radius: 4px;
    background-color: rgba(45, 45, 45, 0.8);

    color: #CCCCCC;
    font-size: 16px;
    font-family: inherit;
}
.comment-section textarea:focus {
    outline: 1px solid #CCCCCC;
}
.comments {
    margin-top: 36px;
    border-top: 2px solid black;
    padding: 10px;

    background: rgba(0, 0, 0, 0.2);
}
.comment div {
    margin: 0 10px 10px 10px;
}
.comment a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0;
}
.comment i {
    color: #626262;
    font-style: italic;
    font-size: 16px;
    margin: 0;
}
.comment i::before, .comment i::after {
    content: ' - ';
}

.other-videos {
    width: 25%;

    border-width: 20px 0 20px 2px;
    border-style: solid;
    border-color: transparent;
    border-left-color: black;

    text-align: left;
    vertical-align: top;
}
.other-videos h1 {
    padding: 10px 20px 10px 18px;
    margin: 0;
    color: #BDBDBD;
    border-bottom: 3px solid black;
}
.card {
    border-bottom: 3px solid black;
    text-align: right;
    font-size: 24px;

    background: rgba(255, 255, 255, 0.05);
}
.card:hover {
    background: rgba(255, 255, 255, 0.1);
}
.other-videos img {
    position: relative;
    height: 83px;
    width: 30%;
    object-fit: cover;
    border: 3px solid black;

    margin: 0 10px 0 10px;

    display: block;
    background-color: rgba(86, 86, 86, 0.9);
}
.other-videos img::before {
    color: white;
    font-weight: bold;
    font-size: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.other-videos .video-title {
    float: right;

    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    height: 1.2em;
    width: 63%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.other-videos .video-author {
    float: right;

    color: #B4B4B4;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;

    height: 1.2em;
    width: 63%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.report {
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: right;
    width: auto;

    background: rgba(255, 255, 255, 0.05);
    padding: 5px;
    margin-top: 5px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.report > span {
    font-size: 20px;
    padding-bottom: 5px;
}
.report select {
    font-size: 20px;
    width: auto;
    background-color: rgb(133, 128, 121);
    border: 2px solid black;
}
.report select:hover {
    color: white;
    outline: 1px solid white;
}
.report select:focus {
    color: white;
    outline: 2px solid white;
}