{% load static %}
<form method="post" action="add_to_playlist" style="display: none" id="add_to_playlist_form">
    {% csrf_token %}
    <div class="report">
        <span>
            Hozzáadás a
            <select name="playlist_id">
                {% for playlist in playlists %}
                    <option value="{{ playlist.id }}">{{ playlist.name }}</option>
                {% endfor %}
            </select>
            lejátszási listához
        </span>
        <input type="text" style="display: none" value="{{ video_id }}" name="video_id">
        <span>
        <button type="submit" onclick="showAddPlaylistForm()">Hozzáadás</button>
        <button type="reset" onclick="hideAddPlaylistForm()">Mégse</button>
        </span>
    </div>
</form>

<script>
    function showAddPlaylistForm() {
        if (document.getElementById("add_to_playlist_form").style.display === "none")
            document.getElementById("add_to_playlist_form").style.display = "block"
        else if (document.getElementById("add_to_playlist_form").style.display === "block")
            document.getElementById("add_to_playlist_form").style.display = "none"
    }

    function hideAddPlaylistForm() {
        document.getElementById("add_to_playlist_form").style.display = "none"
        document.getElementById("add_playlist_button").style.display = "inline"
    }
</script>