<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="icon" href="../../static/pictures/icons/logo-icon.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminpanel.css' %}">
</head>
<body>
    {% include 'projectx/nav.html' %}

    <div class="data-container">
        <h1>Admin Panel</h1>
        <div class="admin-table">
            <table>
                <tr>
                    <td class="admin-column">
                        {% include 'projectx/incoming_feedback.html' %}
                    </td>
                    <td class="admin-column">
                        {% include 'projectx/reports.html' %}
                    </td>
                    <td class="admin-column">
                        {% include 'projectx/video_categories.html' %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="question">
            <button onclick="window.location.href='{% url 'watch_me:most_active_users' %}';">Legaktívabb felhasználók</button>
        </div>
    </div>
</body>
</html>