{% load static %}
<div class="dropdown">
    <div class="dropdown-background
    {% if request.session.user_id == 4206969 %} admin {% else %}
        {% if request.session.user_id > 0 %} logged {% else %} not-logged {% endif %}
    {% endif %}">
        <div class="dropdown-content">
            <a href="{% url 'watch_me:index' %}"><div><img src="../../static/pictures/icons/menu-icon.png">Fő oldal</div></a>
            {% if request.session.user_id > 0 %}
                <a href="{% url 'watch_me:notifications' %}"><div>
                    {% if notificaiton_count > 0 %} <div class="notifies"> {{ notificaiton_count }} </div> {% endif %} <img src="../../static/pictures/icons/bell-icon.png">Értesítések
                </div></a>
                <a href="{% url 'watch_me:profile' %}"><div><img src="../../static/pictures/icons/profile-icon.png">Profil</div></a>
                <a href="{% url 'watch_me:favorites' %}"><div><img src="../../static/pictures/icons/star-icon.png">Kedvencek</div></a>
                <a href="{% url 'watch_me:my_videos' %}"><div><img src="../../static/pictures/icons/video-icon.png">Videóim</div></a>
                <a href="{% url 'watch_me:playlists'  %}"><div><img src="../../static/pictures/icons/playlist-icon.png">Lejátszási listák</div></a>
                {% if request.session.user_id == 4206969 %}
                    <a href="{% url 'watch_me:adminpanel'  %}"><div><img src="../../static/pictures/icons/admin-icon.png">Admin Panel</div></a>
                {% endif %}
                <a href="{% url 'watch_me:logout' %}"><div><img src="../../static/pictures/icons/door-icon.png">Kijelentkezés</div></a>
            {% else %}
                <a href="{% url 'watch_me:login' %}"><div><img src="../../static/pictures/icons/door-icon.png">Bejelentkezés</div></a>
            {% endif %}
        </div>
    </div>
    <a href="{% url 'watch_me:profile' %}">
        {% if request.session.user_id > 0 %}
            <div class="profile-name">{{ request.session.user_name }}</div>
        {% else %}
            <div class="profile-name"> Vendég </div>
        {% endif %}
        <div class="profile-picture-container">
            <div class="profile-picture">
                {% if request.session.user_id > 0 %}
                    <img src="../../../watch_me/media/{{ request.session.user_id }}/profile.jpg" alt="profile-picture">
                {% else %}
                    <img src="{% static 'pictures/profile.png' %}" alt="profile-picture">
                {% endif %}
            </div>
        </div>
    </a>
</div>