<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Watch me! - Legaktívabb felhasználók</title>
    <link rel="icon" href="../../static/pictures/icons/logo-icon.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/adminpanel.css' %}">
</head>
<body>
    {% include 'projectx/nav.html' %}

    <div class="data-container">
        <h1>Legaktívabb felhasználók</h1>
        <div class="admin-table">
            <div class="admin-column">
                <table>
                    <tr>
                        <th>Név</th>
                        <th>Kommentek</th>
                        <th>Feltöltött videók</th>
                        <th>Kombinált</th>
                    </tr>
                    {% for user in merged %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.comment_c }}</td>
                            <td>{{ user.video_c}}</td>
                            <td>{{ user.combined }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="question">
            <button onclick="window.location.href='{% url 'watch_me:most_active_users' 'comment' %}';">Komment</button>
            <button onclick="window.location.href='{% url 'watch_me:most_active_users' 'upload' %}';">Feltöltés</button>
            <button onclick="window.location.href='{% url 'watch_me:most_active_users' %}';">Kombinált</button>
        </div>
    </div>
</body>
</html>