<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Watch me! - Értesítések</title>
    <link rel="icon" href="../../static/pictures/icons/logo-icon.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/notification.css' %}">
</head>
<body>
    {% include 'projectx/nav.html' %}

    <div class="notifications">
        {% if notis|length == 0 %}
            <!----------------- Ha nincs értesítés ------------------>
            <div class="notification">
                <div class="user-name">
                    Nincs egy új értesítésed sem... &#9785
                </div>
            </div>
            <!----------------- Ha van értesítés -------------------->
        {% else %}
            {% for noti in notis %}
                {% if noti.type == "comment" %}
                    <div class="notification">
                        <input type="button" value="&#10004" onclick="location.href='{% url "watch_me:delete_notification" noti.id %}'">  <!-- Profil(om) megtekintése és az értesítés eltüntetése -->
                        <input type="button" value="&#128065" onclick="location.href='{% url "watch_me:delete_notification" noti.id noti.video_id %}'"><!-- Értesítés eltüntetése -->

                        <div class="notification-type">
                            Új
                            <strong>Hozzászólás</strong> érkezett a
                            <a class="comment_link"
                               href="{% url "watch_me:watch_video" noti.video_id %}"> {{ noti.video_title }}</a>
                            videódhoz
                        </div>
                        <div class="notification-date">
                            {{ noti.send_date }}
                        </div>
                    </div>
                {% elif noti.type == "like" %}
                    <div class="notification">
                        <input type="button" value="&#10004" onclick="location.href='{% url "watch_me:delete_notification" noti.id %}'">  <!-- Profil(om) megtekintése és az értesítés eltüntetése -->
                        <input type="button" value="&#128065" onclick="location.href='{% url "watch_me:delete_notification" noti.id noti.video_id %}'"><!-- Értesítés eltüntetése -->

                        <div class="notification-type">
                            <strong>Kedvelték</strong> a
                            <a class="comment_link"
                               href="{% url "watch_me:watch_video" noti.video_id %}"> {{ noti.video_title }}</a>
                            videódat
                        </div>
                        <div class="notification-date">
                            {{ noti.send_date }}
                        </div>
                    </div>
                {% elif noti.type == "report" %}
                    <div class="notification">
                        <input type="button" value="&#10004" onclick="location.href='{% url "watch_me:delete_notification" noti.id %}'">  <!-- Profil(om) megtekintése és az értesítés eltüntetése -->
                        <input type="button" value="&#128065" onclick="location.href='{% url "watch_me:delete_notification" noti.id noti.video_id %}'"><!-- Értesítés eltüntetése -->

                        <div class="notification-type">
                            <strong>Feljelentették</strong> a
                            <a class="comment_link"
                               href="{% url "watch_me:watch_video" noti.video_id %}"> {{ noti.video_title }}</a>
                            videódat!
                        </div>
                        <div class="notification-date">
                            {{ noti.send_date }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% include "projectx/send_feedback.html" %}
</body>
</html>