{% load static %}
<h2>Videó Kategóriák</h2>
<div class="categories" id="containerq">
    <table id="table">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </thead>
        <tbody id="table_body">
            {% for cat in categories %}
                <tr>
                    <td>{{ cat.id }}</td>
                    <td>{{ cat.name }}</td>
                    <td id="row_{{ cat.id }}">
                        <input type="button" value="❌" onclick="location.href='{% url 'watch_me:delete_category' cat.id %}';">
                        <input type="button" value="✏" onclick="edit_category({{ cat.id }}, 'show')" id="edit_{{ cat.id }}" class="edit">
                    </td>
                </tr>
                <tr id="tr_{{ cat.id }}" class="edit-textfield" style="display: none">
                    <td colspan="3">
                        <input type="text" id="newnameField_{{ cat.id }}">
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="button" value="➕ Kategória hozzáadása" onclick="add_category('show')" id="add_new" class="edit">
</div>

<script>
    function edit_category(id, mode) {
        if (mode === "show") {
            console.log("showing")

            document.getElementById("tr_" + id).style.display = "contents"

            document.getElementById("edit_" + id).setAttribute("value", "✓")
            document.getElementById("edit_" + id).setAttribute("onclick", `edit_category(${id}, "execute")`)
        } else {
            console.log("editing")
            if (document.getElementById("newnameField_" + id).value !== "") {
                console.log(`Editing category ${id} to ${document.getElementById("newnameField_" + id).value}`)
                window.location.href = `/edit_category/${id}/${document.getElementById("newnameField_" + id).value}`
            } else {
                console.log("cancelled edit")
                document.getElementById("tr_" + id).style.display = "none"
                document.getElementById("edit_" + id).setAttribute("value", "✏")
                document.getElementById("edit_" + id).setAttribute("onclick", `edit_category(${id}, "show")`)
            }
        }
    }

    function add_category(mode) {
        if (mode === "show") {
            console.log("showing")
            textField = document.createElement("input")
            textField.type = "text"
            textField.id = "newnameField"
            document.getElementById("containerq").insertBefore(textField, document.getElementById("add_new"))
            document.getElementById("add_new").setAttribute("value", "✓")
            document.getElementById("add_new").setAttribute("onclick", `add_category("execute")`)
        } else {
            console.log("editing")
            if (document.getElementById("newnameField").value !== "") {
                console.log(`Adding category ${document.getElementById("newnameField").value}`)
                window.location.href = `/add_category/${document.getElementById("newnameField").value}`
            } else {
                console.log("cancelled edit")
                document.getElementById("newnameField").remove()
                document.getElementById("add_new").setAttribute("value", "➕ Kategória hozzáadása")
                document.getElementById("add_new").setAttribute("onclick", `add_category("show")`)
            }
        }
    }
</script>
