<!DOCTYPE html>
{% load static %}
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Watch me! - {{ video.name }}</title>
    <link rel="icon" href="../../static/pictures/icons/logo-icon.png" type="image/icon type">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
</head>
<body>
    {% include 'projectx/nav.html' %}

    <div class="video-container">
        <table>
            <tr>
                <td class="video-data">
                    <video controls preload autoplay>
                        <source src="../../../watch_me/media/{{ video.binary.name }}" type="video/mp4">
                    </video>
                    <span class="title">{{ video.name }}</span>
                    <a href="{% url 'watch_me:profile' video.uploader_id %}" class="author">{{ video.uploader }}</a>
                    <br>
                    <div class="tags">
                        {% for tag in tags %}
                            <a onclick="search_query('{{ tag }}')" class="tag">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <div class="buttons">
                        {% if request.session.user_id > 0 %}
                            <button onclick="showJelentesForm()" id="show_report_button"><img src="../../static/pictures/icons/report-icon.png">Jelentés</button>
                            {% if not liked %}
                                <a href={% url 'watch_me:like' video.id %}><button><img src="../../static/pictures/icons/like-icon.png">Kedvelés {{ like_count }}</button></a>
                            {% else %}
                                <a href={% url 'watch_me:dislike' video.id %}><button><img class="unlike" src="../../static/pictures/icons/like-icon.png">Kikedvelés {{ like_count }}</button></a>
                            {% endif %}
                        {% else %}
                            <span class="like"><img src="../../static/pictures/icons/like-icon.png">Kedvelések: {{ like_count }}</span>
                        {% endif %}
                    </div>
                    <div class="buttons">
                        {% if request.session.user_id > 0 %}
                            <button onclick="showAddPlaylistForm()" id="add_playlist_button"><img src="../../static/pictures/icons/playlist-icon.png">Hozzáadás Lejátszási Listához</button>
                        {% endif %}
                        <a href={% url 'watch_me:users_who_likes' video.id %}><button><img src="../../static/pictures/icons/like-icon.png">Akik kedvelik a videót</button></a>
                    </div>
                    {% include "projectx/jelentesForm.html" %}
                    {% include "projectx/addToPlaylistForm.html" %}
                    <p>{{ video.description }}</p>

                    <div class="comment-section">
                        {% if video.comments_on == 0 %}
                            <h2>The comments are turned off for this video</h2>
                        {% else %}
                        <form method="post" action="comment/{{ video.id }}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <textarea rows="5" cols="60" name="comment"></textarea>
                            <button type="submit">Comment</button>
                        </form>
                            {% if comments %}
                                <div class="comments">
                                    {% for comment in comments %}
                                        <span class="comment">
                                            <a href={% url 'watch_me:profile' comment.user_id %}> {{ comment.u_name }}</a>
                                            <i>{{ comment.c_date }}</i>
                                            {% if request.session.user_id == video.uploader_id %}
                                                <a href={% url 'watch_me:delete_comment' video.id comment.id %}> ❌ </a>
                                            {% endif %}
                                            <div> {{ comment.text }} </div>
                                        </span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </td>

                <td class="other-videos">
                    <h1>Felhasználó többi videója:</h1>
                    {% if other_videos %}
                        {% for video in other_videos %}
                            <div class="card">
                                <a href="{% url 'watch_me:watch_video' video.id %}" class="video-card">
                                    <div class="video-title">{{ video.name }}</div>
                                    <div class="video-author">{{ video.uploader.first_name }} {{ video.uploader.last_name }}</div>
                                    <img src="../../../watch_me/media/{{ video.thumbnail.name }}" alt="thumbnail">
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </td>

                <td class="other-videos">
                    <h1>Hasonló videók:</h1>
                    {% if similar_videos %}
                        {% for video in similar_videos %}
                            <div class="card">
                                <a href="{% url 'watch_me:watch_video' video.id %}" class="video-card">
                                    <div class="video-title">{{ video.name }}</div>
                                    <div class="video-author">{{ video.uploader.first_name }} {{ video.uploader.last_name }}</div>
                                    <img src="../../../watch_me/media/{{ video.thumbnail.name }}" alt="thumbnail">
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

<script>
    function search_query(tag) {
        document.getElementById("search").value = tag;
        document.getElementById("search_button").click();
    }
</script>
